.book-detail-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background: #e9ecef; // Adjust the background color as needed
  // border-radius: 8px;

  .book-cover {
    position: relative;
    img {
      width: 200px;
      height: auto;
      border-radius: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .progress {
      position: absolute;
      height: 25px;
      margin-bottom: auto;
      left: 0;
      right: 0;
      text-align: center;
      background: #22223b;
      color: #fff;
      padding: 0.5rem;
      border-radius: 0 0 4px 4px;
      font-size: 0.9rem;

      span {
        font-weight: normal;
      }
    }
  }

  .book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #22223b;

    h1 {
      font-size: 2rem;
      margin: 0;
    }

    .book-meta {
      display: flex;
      gap: 1rem;
      font-size: 0.9rem;
      color: #22223b;
      margin: 1rem 0;

      .publisher,
      .pages,
      .estimated-time {
        display: flex;
        align-items: center;
      }
    }

    .action-btn {
      display: flex;
      gap: 1rem;
      margin: 1rem 0;
      margin-right: auto;

      .continue-btn {
        background-color: #22223b;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: -5px;

        &:hover {
          background-color: #db6f35;
        }
      }

      .icon {
        color: #22223b;
        cursor: pointer;

        &:hover {
          color: #db6f35;
        }
      }
    }

    .book-description {
      font-size: 0.95rem;
      margin: 1rem 0;
      line-height: 1.5;
    }

    .book-details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-top: 1rem;

      strong {
        color: #22223b;
      }

      p {
        margin: 0;
        color: #4a4e69;
      }
    }
  }

  .tab-navigation {
    display: flex;
    gap: 0.5rem;
    margin-bottom: auto;
    margin-top: 50rem;

    button {
      background-color: #22223b;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.9rem;

      &:hover {
        background-color: #db6f35;
      }
    }
  }
}
