.book-detail-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background: #e9ecef; // Adjust the background color as needed
  // border-radius: 8px;

  .book-cover {
    position: relative;
    img {
      width: 200px;
      height: auto;
      border-radius: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .progress {
      position: absolute;
      height: 25px;
      margin-bottom: auto;
      left: 0;
      right: 0;
      text-align: center;
      background: #22223b;
      color: #fff;
      padding: 0.5rem;
      border-radius: 0 0 4px 4px;
      font-size: 0.9rem;

      span {
        font-weight: normal;
      }
    }
  }

  .book-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #22223b;

    h1 {
      font-size: 2rem;
      margin: 0;
    }

    .book-meta {
      display: flex;
      gap: 1rem;
      font-size: 0.9rem;
      color: #22223b;
      margin: 1rem 0;

      .publisher,
      .pages,
      .estimated-time {
        display: flex;
        align-items: center;
      }
    }

    .action-btn {
      display: flex;
      gap: 1rem;
      margin: 1rem 0;
      margin-right: auto;

      .continue-btn {
        background-color: #22223b;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: -5px;

        &:hover {
          background-color: #db6f35;
        }
      }

      .icon {
        color: #22223b;
        cursor: pointer;

        &:hover {
          color: #db6f35;
        }
      }
    }

    .book-description {
      font-size: 0.95rem;
      margin: 1rem 0;
      line-height: 1.5;
    }

    .book-details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-top: 1rem;

      strong {
        color: #22223b;
      }

      p {
        margin: 0;
        color: #4a4e69;
      }
    }
  }
}

.tab-navigation-div {
  display: flex;
  background-color: #e9ecef;
}

.tab-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px 20px;
  background-color: #e9ecef;
}

.tab-link {
  text-decoration: none;
  font-size: 16px;
  color: #aaa;
  position: relative;
  padding: 10px 5px;
  transition: color 0.2s ease;
}

.tab-link:hover {
  color: #22223b;
  cursor: pointer;
}

.tab-link.active {
  color: #22223b;
  font-weight: bold;
}

.tab-link.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff833e;
  border-radius: 1px;
}

.tab-count {
  font-size: 12px;
  background-color: #666;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
  margin-left: 5px;
}

.reviews-section {
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 8px;
}

.reviews {
  border-bottom: 2px solid #666;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: #1e1e1e;
  :hover {
    cursor: pointer;
    color: #db6f35;
  }
}

.review-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.single-review {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 0;
  // border-bottom: 1px solid #ddd;
}

.single-review:last-child {
  border-bottom: none;
}

.review-description {
  font-size: 15px;
  color: #333;
  margin: 0;
}

.review-user {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.review-username {
  font-size: 15px;
  color: #666;
  margin: 0;
}

.review-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.star-icon {
  color: gold;
  margin-right: 2px;
}

.review-date {
  font-size: 0.8em;
  color: #888;
  font-style: normal;
  margin-top: 2px;
  margin-left: 7px;
}

/*Comment modal styling */
.comment-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal content box */
.comment-modal-content {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 450px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Modal header */
.comment-modal-content h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000000; /* Dark text color */
  margin-bottom: 15px;
}

/* Modal form */
.comment-modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Form label */
.comment-modal-content label {
  font-size: 14px;
  font-weight: 600;
  color: #333333; /* Subtle dark color */
}

/* Input fields */
.comment-modal-content input,
.comment-modal-content select,
.comment-modal-content textarea {
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

/* Input focus */
.comment-modal-content input:focus,
.comment-modal-content textarea:focus {
  border-color: #3b82f6; /* Blue border on focus */
  outline: none;
}

/* Button styling */
.comment-modal-content .btn-save {
  padding: 10px 15px;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}

.comment-modal-content .btn-save:hover {
  background-color: #2563eb;
}

/* Close button */
.comment-modal-content .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  color: #888888;
  cursor: pointer;
}
.comment-modal-content .btn-close:hover {
  color: #333333;
}

.stars-container {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.star-icon-form {
  font-size: 24px;
  color: #ccc; /* Màu ngôi sao chưa chọn */
  transition: color 0.3s;
}

.star-icon-form.selected {
  color: #ffd700; /* Màu vàng cho ngôi sao đã chọn */
}

.star-icon-form:hover {
  color: #ffcc00; /* Màu khi hover */
}

.options-menu {
  position: relative;
  display: inline-block;
}

.options-icon {
  cursor: pointer;
  margin-left: 8px;
  font-size: 18px;
}

.options-dropdown {
  position: absolute;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 10;
  padding: 5px 0;
}

.options-dropdown button {
  background: none;
  border: none;
  color: #333;
  text-align: left;
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
}

.options-dropdown button:hover {
  background-color: #f5f5f5;
}

// related books

.related-book-container {
  padding: 20px;
  background-color: #e9ecef;
  color: #000000;
  text-align: center;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #22223b;
  }
}

.related-book-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.related-book-card {
  background-color: #2c2c2e;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px); // Lift the card slightly on hover
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 16px;
    color: #f5f5f7;
    margin: 5px 0;
    text-align: left;
  }

  p {
    font-size: 14px;
    color: #b5b5b5; // Slightly lighter color for author text
    text-align: left;
  }
}

.related-book-pagination {
  padding-top: 2%;
  padding-bottom: 3%;
}

.left-chevron {
  margin-left: auto;
}

.right-chevron {
  margin-right: auto;
}
