$file-bg: #f5f5dc;
$content-bg: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.1);

.file-content {
  .chapter-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  audio {
    margin-left: 1rem;
  }

  min-height: 100vh;
  background-color: $file-bg;
  padding: 24px;
  font-family: serif;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    button {
      font-size: 1.25rem;
      background: none;
      border: none;
      cursor: pointer;
      padding: 8px;
      border-radius: 4px;
      transition: background 0.3s ease;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }

    .setting-btn,
    .close-btn {
      font-size: 1.25rem;
    }

    h1 {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  &-body {
    background: $content-bg;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px $shadow-color;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 16px;

      span {
        background: $content-bg;
        padding: 0 8px;
        color: black;
      }
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .text-lg {
      font-size: 1.125rem;
      line-height: 1.75;
    }

    .pdf-container {
      width: 90%;
      max-width: 1000px;
      height: 90vh;
      margin: 30px auto;
      border: 1px solid #ccc;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      background-color: #fff;
    }

    .pdf-container iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
